body {
	font-family:'Kaisei HarunoUmi', serif;;
	padding: 2rem;
	max-width: 750px;
	margin: auto;
	background-color: #eef5ef;
}
h1 {
	text-align: center;
}
label {
	display: block;
	margin-top: 1rem;
}
input {
	width: 97%;
	padding: 0.5rem;
	font-size: 1rem;
}
button {
	margin-top: 1rem;
	padding: 0.75rem 1.5rem;
	font-size: 1rem;
	background-color: #4caf50;
	color: white;
	border: none;
	cursor: pointer;
  	width: 100%;
}


#result {
	margin-top: 2rem;
	padding: 1rem;
	background-color: #fff;
	border: 1px solid #ccc;
}
fieldset {
  	margin-top: 1rem;
  	padding: 1rem;
  	border: 1px solid #ccc;
  	background-color: #fff;
}
fieldset label {
  	display: block;
  	margin-top: 0.5rem;
}

.custom-drink-form {
  	margin-top: 1rem;
  	display: flex;
  	flex-direction: column;
  	gap: 0.5rem;
}
/*メモ*/
#customDrinkList {
  	margin-top: 1rem;
  	padding-left: 1rem;
  	list-style: disc;
  	font-size: 0.9rem;
}

/* カスタムドリンク入力フォーム用スタイル */
.custom-input {
  	width: 100%;
  	box-sizing: border-box;
  	padding: 0.5rem;
  	margin-top: 0.5rem;
  	font-size: 1rem;
}

/* 年齢、体重、総摂取量フォーム用スタイル */

@keyframes flashWarning {
  0%, 100% {
    background-color: hsl(45, 100%, 95%);
  }
  50% {
    background-color: hsl(0, 100%, 100%);
  }
}

.flash-warning {
  	animation: flashWarning 0.5s infinite;
}

.drink-row {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	margin-bottom: 0.5rem;
}

.drink-row label {
	flex-shrink: 0;
  	min-width: 150px;
}

.drink-row input {
  	width: 60px;
  	text-align: center;
}
.controls {
  	display: flex;
  	align-items: center;
  	gap: 0.3rem;
}

.drink-row button {
  	margin-top: 0 !important; /* 不要な余白を消す */
  	padding: 0.25rem 0.5rem !important;
  	font-size: 0.9rem !important;
  	width: auto !important;
  	min-width: 32px;
}
/* スピンボタン削除 */
input[type=number][readonly]::-webkit-outer-spin-button,
input[type=number][readonly]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
